ECHO is on.

# Folders #
####################
/0_app/test/
/0_app/old/
/scripts/
/maya_files/

# Files #
####################
*test.py
Q&A_questions.txt
channelBoxTool_layout.txt



# File types #
####################
*.pyc




